/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.fa-star{
    font-size: 22px;
}
.fa-star.filled{
    color: #E77C40;
    padding: 4px; 
}

.fa-star.empty{
    color: #AEAEAE;
    padding: 4px;
   
}
/* customize style  */

/* header css  */
.honda-bg-header{
    background-color: #264653;
}
.honda-btn-purchase{
    margin-top: 20px;
    padding: 10px;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 413px;
    background: #E76F51;
    border-radius: 5px;
}
.honda-header-text{
    color: #E0E0E0;
    font-size: 1rem;
}
.fetured-bike img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}